/*!
 * Start Bootstrap - Heroic Features (https://startbootstrap.com/template-overviews/heroic-features)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-heroic-features/blob/master/LICENSE)
 */
body {
  padding-top: 56px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("https://www.alwayswanderlust.com/wp-content/uploads/2016/08/TimisoaraSquare-copy.jpg");
    background-attachment: fixed;
}
