body
{
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://www.alwayswanderlust.com/wp-content/uploads/2016/08/TimisoaraSquare-copy.jpg");
  background-attachment: fixed;
}