<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Heroic Features - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="C:/Users/Horea/Desktop/startbootstrap-heroic-features-gh-pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="C:/Users/Horea/Desktop/startbootstrap-heroic-features-gh-pages/css/heroic-features.css" rel="stylesheet">

</head>

<body>


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Timisoara City Guide</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="users/sign_up">Register</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-4">TimisoaraGo - A city guide application</h1>
    <p class="lead"></p>
  </header>


  <% @places.each_slice(3) do |place| %>
    <div class="row text-center">
      <% place.each do |place1| %>
        <div class="col-md-4">
          <div class="card h-100">
            <tr>
              <h4>
                <%= place1.Address %>
              </h4>
              <td><%= place1.Address%></td>
            </tr>
          <img alt="" class="card-img-top" src="https://renasterea.ro/ro/wp-content/uploads/tm2021.png">
<!--            <div class="card-body">-->
<!--              <h4 class="card-title"></h4>-->
<!--              <p class="card-text">place1.Details</p>-->
<!--            </div>-->
            <div class="card-footer">
              <a href="places/<%=place1.id %>" class="btn btn-primary">Indicatii de orientare</a>
            </div>
          </div>



        </div>
      <% end %>
    </div>
  <% end %>
</div>
<!-- Bootstrap core JavaScript -->
<script src="C:/Users/Horea/Desktop/startbootstrap-heroic-features-gh-pages/vendor/jquery/jquery.min.js"></script>
<script src="C:/Users/Horea//Desktop/startbootstrap-heroic-features-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>
