<% if user_signed_in? %>
  <h1>New Place</h1>

<%= render 'form', place: @place %>

<%= link_to 'Back', places_path %>

<% else %>

<%= flash[:alert] = "NU ESTI LOGAT" %>

 <%=  link_to('Login', new_user_session_path)%>
<% end %>
