
<p>
  <strong>Name:</strong>
  <%= @place.Name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @place.Address %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
